
.font-bold {
    margin: 0;
    padding: 0;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    font-size:25px;
    width: 100%;
    color: #ffffff
     
    
  }

body{
    background-image: url('../../assets/home.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}